#otp-container {
    width: 390px;
    min-height: 844px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;

    .four-digit-container {
        margin: 203px auto 0px auto;
        border-radius: 8px;
        border: 1px solid #E3E3E3;
        box-shadow: 0px 15px 15px 0px #00000026;

    }

    .four-digit-container h1 {
        font-family: Plus Jakarta Sans;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        padding-top: 19px;
        padding-left: 24px;
    }

    .four-digit-container p {
        font-family: Plus Jakarta Sans;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        margin-top: 10px;
        padding-left: 24px;
    }

    .inputs {
        display: flex;
        justify-content: center;
        margin: 18px 24px 0 24px;
        gap: 37px;
    }

    .otp-input {
        width: 46px;
        height: 77px;
        border-radius: 4px;
        border: 1px solid #E3E3E3;
        background-color: #F5F5F5;
        text-align: center;
        font-family: Plus Jakarta Sans;
    }

    .resend-code {
        font-family: Plus Jakarta Sans;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-decoration: none;
        color: #F78720;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .otp-buttons {
        display: flex;
        justify-content: center;
        margin: 21px 25px 24px 24px;
        gap: 16px;
    }

    .confirm {
        font-family: Plus Jakarta Sans;
        color: white;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        background-color: #5ED48C;
        border: none;
        width: 139px;
        height: 48px;
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .confirm:hover {
        background-color: rgba(94, 212, 140, 0.5);
    }

    .cancel {
        font-family: Plus Jakarta Sans;
        color: #4280EF;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        background-color: transparent;
        border: 2px solid #4280EF;
        width: 139px;
        height: 48px;
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cancel:hover {
        border-radius: 8px;
        border: 2px solid rgba(66, 128, 239, 1);
        box-shadow: 0 0 0 4px rgba(66, 128, 239, 0.4);
        border-radius: 4px;
    }
}