#forgot-password-container {
    width: 390px;
    min-height: 844px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;

    .forgot-password-header {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 65px;
        margin-left: 25px;
    }

    .link-to-welcome {
        font-family: Plus Jakarta Sans;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        color: #2c2c2c;
        text-decoration: none;
        margin-left: 20px;
    }

    .forgot-title {
        width: 100%;
        padding-left: 24px;
        margin-top: 28px;
    }

    .forgot-title h1 {
        font-family: Plus Jakarta Sans;
        font-weight: 700;
        font-size: 42px;
        line-height: 100%;
        color: #5ed48c;
    }

    .forgot-title p {
        font-family: Plus Jakarta Sans;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        margin-top: 20px;
        color: #2c2c2c;
        word-wrap: break-word;
        padding-right: 5px;
    }

    .forgot-input-email {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 97px;
    }

    .forgot-input-email label {
        font-family: Plus Jakarta Sans;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        color: #2c2c2c;
    }

    .forgot-input-email input {
        width: 342px;
        height: 48px;
        border-radius: 8px;
        background-color: #f5f5f5;
        border: 1px solid #f5f5f5;
        margin-top: 12px;
        font-family: Plus Jakarta Sans;
        font-weight: 500;
        font-size: 16px;
        font-style: italic;
        color: rgba(44, 44, 44, 1);
        padding-left: 10px;
    }

    .forgot-input-email input::placeholder {
        font-family: Plus Jakarta Sans;
        font-weight: 500;
        font-style: italic;
        font-size: 14px;
        color: #2c2c2c;
        line-height: 100%;
    }

    .forgot-input-email input:hover {
        border-radius: 8px;
        border: 1px solid #00aef7;
        background-color: rgba(0, 174, 247, 0.2);
    }

    .send-code {
        height: 48px;
        width: 342px;
        border-radius: 8px;
        background-color: #5ed48c;
        border: none;
        font-family: Plus Jakarta Sans;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        cursor: pointer;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .send-code-disabled {
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        height: 48px;
        width: 342px;
        border-radius: 8px;
        background-color: rgba(94, 212, 140, 0.5);
        border: none;
        font-family: Plus Jakarta Sans;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .send-code:hover {
        background-color: rgba(94, 212, 140, 0.5);
    }

}